@{
    ViewData["Title"] = "Add A Grade";
    Layout = "_ProfessorLayout";
}

<style>
    a {
        font-size: 18px;
        color: #FFFFFF;
    }

    * {
        font-family: candara;
        color: white;
        font-family: 18px;
    }

    .button {
        background-color: mediumseagreen;
        color: white;
        padding: 10px 18px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: auto;
    }

    .box {
        border: 1px solid white;
        height: 30px;
    }

    body {
        background-color: seagreen;
    }

    a:hover {
        color: floralwhite;
    }
</style>

<body>
    @if (Model.professor_courses.Count == 0)
    {
        <h2>There are no courses to display.</h2>
    }

    @foreach (var course in Model.professor_courses)
    {
        <h1>
            @course.CourseTitle
        </h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Course ID")
                    </th>
                    <th>
                        @Html.DisplayName("Student Registration Number")
                    </th>
                    <th>
                        @Html.DisplayName("Grade")
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var grade_details in Model.student_grades)
                {
                    @if (grade_details.COURSE_idCOURSE == course.IdCourse)
                    {
                        <tr>
                            <th>
                                @grade_details.COURSE_idCOURSE
                            </th>
                            <th>
                                @grade_details.STUDENTS_RegistrationNumber
                            </th>
                            <th>
                                @grade_details.GradeCourseStudent
                            </th>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br />
        <br />
    }
</body>