@model professors

@{
    ViewData["Title"] = "Professor Main";
    Layout = "_ProfessorLayout";
}

<style>
    a {
        font-size: 18px;
        color: #FFFFFF;
    }

    * {
        font-family: candara;
        color: white;
        font-family: 18px;
    }

    .button {
        background-color: mediumseagreen;
        color: white;
        padding: 10px 18px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: auto;
    }

    .box {
        border: 1px solid white;
        height: 30px;
    }

    body {
        background-color: seagreen;
    }

    a:hover {
        color: floralwhite;
    }
</style>

<center>
    <h1>
        Welcome back, @TempData["Name"]. Select an action.
    </h1>

    <button class="button"><a style="text-decoration:none" asp-area="" asp-controller="Professor" asp-action="AddGrade">Add A Grade</a></button>
    <button class="button"><a style="text-decoration:none" asp-area="" asp-controller="Professor" asp-action="DisplayGrades">Display All Grades</a></button>

    <br />
    <br />
    <br />


</center>

<left>
    <h2>
        Here is your information:
    </h2>
    <b>First Name: </b> @Model.Name
    <br />
    <b>Last Name: </b> @Model.Surname
    <br />
    <b>Department: </b> @Model.Department
    <br />
    <b>AFM: </b> @Model.AFM
</left>