<!-- In this page, a secretary can view all the courses, declare them to students and assign a course to professor -->
@model IEnumerable<course>

@{
    ViewData["Title"] = "Add Users and Courses";
    Layout = "_SecretaryLayout";
}

@{
    ViewData["Title"] = "View Courses";
}

<style>
    a {
        font-size: 18px;
        color: #FFFFFF;
    }

    * {
        font-family: candara;
        color: white;
        font-family: 18px;
    }

    .button {
        background-color: mediumseagreen;
        color: white;
        padding: 10px 18px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: auto;
    }

    .box {
        border: 1px solid white;
        height: 30px;
    }

    body {
        background-color: seagreen;
    }

    a:hover {
        color: floralwhite;
    }
</style>

<br />
<br />
<h5>Here you can see information of all the courses:</h5>
<br />
<br />
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdCourse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseSemester)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PROFESSORS_AFM)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => item.IdCourse)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.CourseTitle)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseSemester)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PROFESSORS_AFM)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Secretary" asp-route-id="@item.IdCourse">Αssign to professor</a> |
                        <a asp-action="Delete" asp-controller="Secretary" asp-route-id="@item.IdCourse">Declare to student</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <left>
        <div class="box" style="background-color: white;padding-left:20px;">
            <a style="background-color: #808080;color:white;" class="button" asp-controller="Home" asp-action="Login">Logout</a>
        </div>
    </left>
</body>