<!-- In this page, a secretary can view all the courses, declare them to students and assign a course to professor -->
@model Tuple<List<course>, List<professors>, List<course_has_students>>

@{
    ViewData["Title"] = "View Courses";
    Layout = "_SecretaryLayout";
}

<style>
    a {
        font-size: 18px;
        color: #FFFFFF;
    }

    * {
        font-family: candara;
        color: white;
        font-family: 18px;
    }

    .button {
        background-color: mediumseagreen;
        color: white;
        padding: 10px 18px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: auto;
    }

    .box {
        border: 1px solid white;
        height: 30px;
    }

    body {
        background-color: seagreen;
    }

    a:hover {
        color: floralwhite;
    }
</style>

<br />
<br />
<h5>Here you can see information of all the courses:</h5>
<br />
<br />
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Course ID
                </th>
                <th>
                    Course Title
                </th>
                <th>
                    Semester
                </th>
                <th>
                    Assigned Professor's AFM
                </th>
                <th>
                    Assigned Professor's Full Name
                </th>
                <th>
                    Declared Students Count
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item1)
            {
                <tr>
                    <th>
                        @item.IdCourse
                    </th>
                    <td>
                        @item.CourseTitle
                    </td>
                    <td>
                        @item.CourseSemester
                    </td>
                    @if (item.PROFESSORS_AFM == -1)
                    {
                        <td>
                            -
                        </td>
                    }
                    else
                    {
                        <td>
                            @item.PROFESSORS_AFM
                        </td>
                    }
                    <td>
                        @{
                            professors p = Model.Item2.First(p => p.AFM == item.PROFESSORS_AFM);
                            string fullname = p.AFM == -1 ? "-" : $"{p.Name} {p.Surname}";
                        }
                        @fullname
                    </td>
                    <td>
                        @{int count_courses = (from courses in Model.Item3 where courses.COURSE_idCOURSE == item.IdCourse select courses).Count();}
                        @count_courses
                    </td>
                    <th>
                        <a asp-action="AssignPage" asp-controller="Secretary" asp-route-id="@item.IdCourse">Αssign to professor</a> |
                        <a asp-action="DeclarePage" asp-controller="Secretary" asp-route-id="@item.IdCourse">Declare to student</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <left>
        <div class="box" style="background-color: white;padding-left:20px;">
            <a style="background-color: #808080;color:white;" class="button" asp-controller="Home" asp-action="Login">Logout</a>
        </div>
    </left>
</body>